<div class="bottom-nav">

    <!-- <div id="handle" class="ui-resizable-handle ui-resizable-n"></div> -->
    <div class="container-fluid bottom-nav-content">
        <div id="parallel-coords" style="min-height:250px"></div>
    </div>

    <div class="bottom-nav-flyout">
        <div id="bottom-flyout" class="collapse bottom-nav-flyout-content">
            <div ng-repeat="type in DesignExplorer.typeDisplayDictionary">
                <h4>{{type.display}}s</h4>
                <table>
                    <tr ng-repeat="param in designExplorer.params[type.key]">
                        <td>
                            <label ng-click="designExplorer.parcoords_redraw()">
                                <input type="checkbox" ng-model="param.shownInParcoords" />
                                {{param.display}}
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <button class="bottom-nav-flyout-toggle btn btn-sm btn-default" data-toggle="collapse" data-target="#bottom-flyout"><i class="fa fa-bars"></i></button>
    </div>



</div>
