<div id="main-content-flow">
    <div id="main">
        <div class="main-constrained" style="width:{{selectedIteration? '20%':'100%'}}">
            <results-thumbnails ng-if="viewMode=='thumbnails'"></results-thumbnails>
            <animated-results ng-show="viewMode=='animation'" id="animated-results-container"></animated-results>
        </div>

        <div id="selected-result" class="main-constrained one-result" ng-show="selectedIteration">

            <div class="one-result-toolbar" >
                <div class="btn-toolbar pull-right" role="toolbar" ng-if="selectedIteration" aria-label="...">
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <button type="button" class="btn" ng-class="{'btn-success':resultMode=='image'}" ng-click="set2dMode()"><i class="fa fa-file-image-o"></i> 2D</button>
                        <button type="button" class="btn" ng-class="{'btn-success':resultMode=='3d'}" ng-click="set3dMode()"><i class="fa fa-cube"></i> 3D</button>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <button type="button" class="btn" ng-click="toggleFullscreen('#selected-result')"><i class="fa fa-arrows-alt"></i> Fullscreen</button>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <button type="button" class="btn btn-danger" ng-click="selectIteration(null)"><i class="fa fa-times"></i> deselect</button>
                    </div>
                </div>
            </div>

            <selected-iteration ng-show="resultMode=='image'"></selected-iteration>
            <div id="spectacles-container" class="spectacles-content" ng-show="resultMode=='3d'"></div>
            <div id="selected-iteration-info"></div>


        </div>
    </div>
</div>

<navbar class="hide-in-fullscreen"></navbar>

<bottom-nav class="hide-in-fullscreen"></bottom-nav>

<div id="context-menu">

</div>
