.bottom-nav {
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: white;
    border-top: 3px solid $gray-lighter;
    position: fixed !important;
    top: auto !important;
    bottom: 0 !important;
    width: 100%;

    .bottom-nav-content {
        max-height: 100%;
        overflow: auto;
    }

    .bottom-nav-flyout{
        position: absolute;
        top: 0px;
        left: 0px;
        max-width: 400px;
        height: 100%;
        overflow: auto;

        .bottom-nav-flyout-content{
            background: rgba(0,0,0,0.7);
            color: $gray-lighter;
            float: left;
            width: 300px;
            height: 100%;
            max-height: 100%;
            padding:$grid-gutter-width/2;
        }

        .bottom-nav-flyout-toggle{
            float: right;
        }
    }

    #handle {
        // position: absolute;
        width: 100%;
        height: 5px;
        top: -6px;
        border-top: 1px solid $gray-lighter;
        border-bottom: 1px solid $gray-lighter;
        cursor: ns-resize;
    }
}
