$result-image-margin:24px;

.result-image {
    display: inline-block;
    min-width: 75px;
    padding-left: 4px;
    padding-right: 4px;
    // height: 75px;
    margin-right: $result-image-margin/2;
    margin-left: $result-image-margin/2;
    margin-bottom: $result-image-margin;

    .result-thumb-pic-container {
      position: relative;
    }

    .result-image-frame-params{
      text-align: left;
    }

    .result-thumb-params{
      white-space: nowrap;
    }

    .caption {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}
