$result-image-margin:24px;

.result-image {
    display: inline-block;
    min-width: 75px;
    padding-left: 4px;
    padding-right: 4px;
    // height: 75px;
    margin-right: $result-image-margin/2;
    margin-left: $result-image-margin/2;
    margin-bottom: $result-image-margin;
}
