@import "variables";
@import "./lib/themes/sandstone/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./lib/themes/sandstone/bootswatch";
@import "./bottom-nav";
@import "./context-menu";
@import "./navbar";
@import "./parcoords";
@import "./result-image";
@import "./spectacles";

body,
html {
    height: 100%;
    margin: 0;
}

a {
    cursor: pointer;
}

#main-content-flow {
    overflow-y: auto;
    width: 100%;
    position: fixed;
    top: 130px;
    height: 100%;

    #main,
    .main-constrained{
        position: absolute;
        top: 0;
        height: 100%;
        max-height: 100%;
    }

    #main {
        width: 100%;
    }

    .main-constrained{
        padding: $grid-gutter-width/2;
        overflow-y: auto;
    }

    .one-result-toolbar{
        position: absolute;
        top: 0;
        left: 20%;
        padding: 5px;
    }

    .one-result,.one-result-toolbar{

    }

    .one-result {
        overflow-y: auto;
        right: 0;
    }

    #selected-iteration-info{
      position: absolute;
      top: 50px;
      right: $grid-gutter-width/2;
      padding: $grid-gutter-width/2;
      background: rgba(255,255,255,0.7)
    }
}

.full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    padding-top: $navbar-height; // content to avoid navbar
}
