@import "variables";
@import "./lib/themes/sandstone/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./lib/themes/sandstone/bootswatch";

@import "./bottom-nav";
@import "./navbar";
@import "./parcoords";
@import "./result-image";

body,
html {
    height: 100%;
    margin: 0;
}

a {
  cursor: pointer;
}

#main-content-flow {
    padding-top: $navbar-height+$navbar-height+$grid-gutter-width;
}

.full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    padding-top: $navbar-height; // content to avoid navbar
}
